header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0px auto;
    > img{
        height: 50px;
    }
    button{
        border-radius: 80px;
        color:white;
        background-color: blue;
        border:none;
        border:8px 12px;
    }
}

    header > nav ul{
        list-style: none;
        display: flex;
        gap:8px;
        padding:0px;
        font-family: sans-serif;
    
    li > a{
        text-decoration: none;
        color:blue ;
        &:hover{
            color:yellowgreen;
        }
    }
    }